@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.font-urdu {
  font-family: var(--font-noto-nastaliq-urdu), serif;
  font-weight: 400;
  line-height: 1.8;
}

.font-urdu-p {
  font-family: var(--font-noto-nastaliq-urdu), serif;
  font-weight: 400;
  line-height: 2.6;
}

.font-en {
  font-family: var(--font-baskervville), serif;
}

@layer base {
  body {
    @apply bg-white text-black;
  }
}
